@media (max-width: 300px){
    header h1{
        color: red;
    }
    .container{
        width: 100%;
    }
}
@media (min-width: 301px) and (max-width: 350px){
    header h1{
        color: lightslategrey;
    }
    .container{
        width: 320px;
    }
}
@media (min-width: 351px) and (max-width: 420px){
    header h1{
        color: pink;
    }
    .container{
        width: 400px;
    }
}
@media (min-width: 421px) and (max-width: 500px){
    header h1{
        color: tan;
    }
    .container{
        width: 480px;
    }
}
@media (min-width: 501px) and (max-width: 550px){
    header h1{
        color: orange;
    }
    .container{
        width: 530px;
    }
}
@media (min-width: 551px) and (max-width: 600px){
    header h1{
        color: gold;
    }
    .container{
        width: 580px;
    }
}
@media (min-width: 601px) and (max-width: 650px){
    header h1{
        color: black;
    }
    .container{
        width: 630px;
    }
}
@media (min-width: 651px) and (max-width: 700px){
    header h1{
        color: orangered;
    }
    .container{
        width: 680px;
    }
}
@media (min-width: 701px) and (max-width: 750px){
    header h1{
        color: mediumblue;
    }
    .container{
        width: 730px;
    }
}
@media (min-width: 751px) and (max-width: 800px){
    header h1{
        color: yellow;
    }
    .container{
        width: 780px;
    }
}
@media (min-width: 801px) and (max-width: 850px){
    header h1{
        color: purple;
    }
    .container{
        width: 830px;
    }
}
@media (min-width: 851px) and (max-width: 900px){
    header h1{
        color: lawngreen;
    }
    .container{
        width: 880px;
    }
}
@media (min-width: 901px) and (max-width: 950px){
    header h1{
        color: teal;
    }
    .container{
        width: 930px;
    }
}
@media (min-width: 951px) and (max-width: 1000px){
    header h1{
        color: paleturquoise;
    }
    .container{
        width: 980px;
    }
}
@media (min-width: 1001px) and (max-width: 1050px){
    header h1{
        color:palegoldenrod;
    }
    .container{
        width: 1030px;
    }
}
@media (min-width: 1051px) and (max-width: 1700px){
    header h1{
        color: indianred;
    }
    .container{
        width: 1680px;
    }
}
@media (min-width: 1701px){
    header h1{
        color: olive;
    }
    .container{
        width: 100%;
    }
}
